QPushButton{
   color:  #f7f7f7;
   background-color: #405E96;
   border-radius: 5px;
}

QPushButton.search_btn:hover{
 /*  background-color :  #3A4E81;*/
   background-color :  #6D85B7;
   border-color :  #4B6AA8;
   border-style : solid;
   border-width : 5px;
   /*border-radius : 30px;*/
}

QTabWidget{
    background-color: #f7f7f7;
}


/*QPushButton.scrab_btn:active{
    background-color : #6C757D;
    border-color:#6C757D;
}*/

QPushButton:hover{
/*    background-color :  #6D85B7;*/
    background-color :   #f7f7f7;
}

QTabWidget QTabBar{
    background-color: #6C757D
}